.about {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5vh;
    padding-bottom: 10vh;
    min-height: 70vh;
}

.quote {
    
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    /* font-style: italic; */
    font-size: 2.2vw;
    text-align: center;
    font-weight: 500;
    /* margin-top: 40px; */
    margin-bottom: 50px;
}

.quote .author {
    font-style: normal;
    margin-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vw;
}

.photo {
    height: 35vw;
    border: 3px solid var(--yellow);
    border-radius: 10px;
    margin-right: 5vw;
    /* width: 400px; */
}

.about ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.2vw;
}

.about li {
    margin: 5px 0px;
}

.about .button {
    font-size: 2vw;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px;
    /* width: 600px; */
}

.about .button:hover {
    background-color: var(--yellow);
    color: #000;
    cursor: pointer;
}

i {
    margin-right: 5px;
    color: var(--yellow);
}

.name {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.occupation {
    font-size: 2.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--yellow);
}