@media (max-width: 480px) {

    .quote {
        font-size: 7vw;
        margin: 0;
        
    }

    .quote .author {
        font-size: 5vw;
    }

    .education {
        padding: 2vh;
        margin-bottom: 2vh;
    }

    .education-header {
        font-size: 8vw;
        font-weight: 700;
        margin-top: 4vh;
        margin-bottom: 3vh;
    }

    .uni-work {
        flex-direction: column;
        justify-content: center;
    }

    
    .university .header, .work .header {
        font-size: 5vw;
    }

    .place, .role {
        font-size: 5vw;
        margin-top: 1vh;
    }

    .role {
        font-size: 4vw;
        font-weight: 700;
    }

    .education .text {
        margin-top: 2vh;
        font-size: 5vw;
        text-align: left;
    }

    .uni-work {
        transform: translate(0px, 4vh);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    
    .uni-work.active {
        transform: translate(0px, 0vh);
        opacity: 1;
        transition: all 0.8s ease 0s;
    }
    

}