.education {
    padding: 5vh;
    /* height: 70vh; */
    margin-bottom: 5vh;
}

.educationanchor {
    position: relative;
    top: -11vh;
}

.education-header {
    text-align: center;
    background-color: #fff;
    color: #000;
    /* font-size: 60px; */
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 60px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.education-header.active {
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.uni-work {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.uni-work.active {
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 0.8s ease 0s;
}


.education {
    font-family: 'Montserrat', sans-serif;
}

.education i {
    color: #000;
    color: rgb(64, 13, 204);
}

.education .header {
    font-size: 1.8vw;
    font-weight: 700;
}

.university .header, .work .header {
    font-size: 1.8vw;
    font-weight: 700;
}

.place, .role {
    font-size: 1.6vw;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
    
}

.role {
    font-weight: 700;
    font-size: 1.6vw;
    color: rgb(64, 13, 204);
    text-transform: uppercase;
}

.university, .work {
    margin-top: 15px;
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education .text {
    /* padding: 20px; */
    margin-top: 55px;
    font-size: 1.8vw;
    font-weight: 500;
    text-align: center;
    transform: translate(0px, -80%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.education .text.active {
    transform: translate(0px, 0%);
    opacity: 1;
    transition: all 0.8s ease 0s;
    overflow: hidden;
}