.feedback {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5vh;
    min-height: 70vh;
}

.feedback-header {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 3vh;
}

.feedback-text {
    margin: 10px 0px;
    font-size: 2.1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-text a {
    display: block;
    /* width: 300px; */
    margin:  4vh 0px;
}

.messengers {
    margin: 5px 0px;
    font-size: 2.3vw;
}

.feedback .phone {
    font-size: 2.3vw;
    font-weight: 700;
    letter-spacing: 0.3vw;
}

.fa-telegram-plane {
    color: rgb(14, 112, 240);
}

.fa-whatsapp {
    color: rgb(0, 252, 55);
}

.fa-viber {
    color: rgb(183, 0, 255);
}

.madeby {
    padding: 20px;
    text-align: center;
    background-color: var(--yellow);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}