.feedback {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5vh;
    min-height: 50vh;
}

.feedback-header {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 3vh;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.feedback-header.active {
    transform: translate(0px, 0%);
    opacity: 1;
}

.feedback-text {
    margin: 10px 0px;
    font-size: 2.1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0px, -20%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.feedback-text.active {
    transform: translate(0px, 0%);
    opacity: 1;
}

.feedback-text a {
    display: block;
    /* width: 300px; */
    margin:  4vh 0px;
}

.messengers {
    margin: 20px 0px;
    font-size: 2.3vw;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.feedback .phone {
    font-size: 2.3vw;
    font-weight: 700;
    letter-spacing: 0.1vw;
}

.fa-telegram-plane {
    color: rgb(14, 112, 240);
}

.fa-whatsapp {
    color: rgb(0, 252, 55);
}

.fa-viber {
    color: rgb(183, 0, 255);
}