.prices-header {
    /* position: relative;
    top: -20px; */
    color: #000;
    font-size: 3vw;
    font-weight: 700;
    background-color: transparent;
}

.prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    font-family: 'Montserrat', sans-serif;
    /* position: relative;
    top: -20px; */
    min-height: 70vh;
    padding: 10px;
    padding: 10vh 10px;
}

.list {
    background-color: var(--yellow);
    /* height: 58vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vh 0px;
}

.card {
    background-color: #fff;
    /* min-height: 30vh; */
    width: 20%;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 1vw;
}

.card-header {
    font-weight: 700;
    font-size: 1.7vw;
    text-align: center;
    display: flex;
    align-items: center;
    height: 10vh;

}

.description {
    margin-top: 10px;
    padding: 8px;
    height: 25vh;
    font-size: 1.3vw;
    font-weight: 500;
    text-align: center;
}

.price {
    font-size: 2vw;
    font-weight: 700;
    color: rgb(64, 13, 204);
    margin-bottom: 10px;
    text-align: center;
}

.prices i {
    color: rgb(64, 13, 204);
}

.adress, .time {
    margin-top: 2vh
}

.priceanchor {
    position: relative;
    top: -15vh;
}

.discount {
    margin-top: 10px;
    font-size: 3vw;
    text-align: center;
}