@import url('./header.css');
@import url('./about.css');
@import url('./education.css');
@import url('./prices.css');
@import url('./reviews.css');
@import url('./feedback.css');

@import url('./header-mobile.css');
@import url('./about-mobile.css');
@import url('./education-mobile.css');
@import url('./prices-mobile.css');
@import url('./reviews-mobile.css');
@import url('./feedback-mobile.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    scroll-behavior: smooth; 
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    /* --yellow: rgb(133, 90, 252); */
    --yellow: rgb(255, 218, 7);
    --blue: rgb(64, 13, 204);
}

.wave {
    margin: 0;
    height: 16vh;
    background-image: url(./../assets/waveblack.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top:-5px;
    /* width: 100vw; */
}

.wavetop {
    margin: 0;
    height: 20.3vh;
    /* position: relative;
    top: -80px;
    margin-top: 130px; */
    background-image: url(./../assets/wavestop3.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
}

.wavebottom {
    margin: 0;
    height: 20.3vh;
    /* position: relative;
    top: -80px; */
    background-image: url(./../assets/wavesbottom.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 480px) {

    .wavetop {
    margin: 0;
    height: 10vh;
    /* position: relative;
    top: -80px;
    margin-top: 130px; */
    background-image: url(./../assets/wavestop3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.wavebottom {
    margin: 0;
    height: 10vh;
    /* position: relative;
    top: -80px; */
    background-image: url(./../assets/wavesbottom.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
    
}